/*  your css code here. If applicable */
nav{
	background-color:#6e072d;
	color:white;
	display:flex;
	justify-content:space-around;
}
ul{
	font-size:18px;
	display:flex;
	list-style-type:none;
}
li{
	padding:18px 27px;
	cursor:pointer;	
}
li:hover{
	background-color:#b90e4d;
}
nav ul:first-child li{
	border-right:2px solid white;
}
nav ul:first-child li:last-child{
	border-right:none;
}
nav ul:last-child li:first-child{
	border-left:none;
}
nav ul:last-child li:first-child{
	border-left:2px solid white;
}