/*  your css code here. If applicable */
nav{
	background-color:rgb(110, 7, 45);
	color:white;
	display:flex;
	justify-content:space-between;
	width:100%;
}
ul{
	font-size:18px;
	display:flex;
	list-style-type:none;
	margin:0;
	padding:0;
}
li{
	padding:18px 27px;
	cursor:pointer;	
}
li:hover{
	background-color:rgb(255, 255, 255);
}
nav ul:first-child li{
	border-right:2px solid white;
}
nav ul:first-child li:last-child{
	border-right:none;
}
nav ul:last-child li:first-child{
	border-left:none;
}
nav ul:last-child li{
	border-right:2px solid white;
}